<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Максим Гутин">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter Agency</title>
    <link rel="stylesheet" href="css/style-adaptive.css">
</head>
<body>
    <div id="page">
        <header>
            <nav>
                <a href="#" class="logo"></a>
                <ul class="top-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">Apps</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </nav>
            <h1>Modern and Clean Newslettere Template for your Agency</h1>
            <a href="#" class="arrow-down"></a>
        </header>
        <article id="apps">
            <section class="app-block app1">
                <div></div>
                <p>Great Ideas</p>
                <span>Creative Minds on Action</span>
            </section>
            <section class="app-block app2">
                <div></div>
                <p>Advertise With Us</p>
                <span>We Are Big and Loud</span>
            </section>
            <section class="app-block app3">
                <div></div>
                <p>Work With Us</p>
                <span>Work is Our Second Name</span>
            </section>
        </article>
        <article id="office">
            <section>
               <div>
                <p>We offer modern and clean newsletter design</p>
                <ul>
                    <li><i class="i-check"></i><span>Responsive Design</span></li>
                    <li><i class="i-check"></i><span>Modern and Clean</span></li>
                    <li><i class="i-check"></i><span>Help Fole Included</span></li>
                </ul>
                <button class="bt bt-color">Learn More</button>
               </div>
            </section>
            <section></section>
        </article>
        <article id="video">
            <h2>WATCH OUR VIDEO</h2>
            <button class="bt bt-color">Play Now</button>
        </article>
        <article id="blog">
            <h2>Some news from our blog</h2>
            <p>Cras ultricies lugula seo.</p>
            <section>
                <article class="blog-item-card">
                    <div></div>
                    <h3>Some Random Text</h3>
                    <p>Et quod repellat maxime magni saepe rerum culpa error optio, quo ut ea sint temporibus minus, repellendus laborum vero debitis?</p>
                    <button class="bt bt-dark">Read More</button>
                </article>
                <article class="blog-item-card">
                    <div></div>
                    <h3>Some Random Text</h3>
                    <p>Et quod repellat maxime magni saepe rerum culpa error optio, quo ut ea sint temporibus minus, repellendus laborum vero debitis?</p>
                    <button class="bt bt-dark">Read More</button>
                </article>
            </section>
            <a href="" class="icon-plus"></a>
        </article>
        <article id="advertise">
            <h2>Start your web agency for just &#36;19</h2>
            <p>Cras ultricies lugula sed magna dictum porta.</p>
            <section><button class="bt bt-color">Start Project</button><button class="bt bt-light">Read More</button></section>
        </article>
            <article id="contacts">
                <section>
                    <a href="" class="logo"></a>
                    <p>Nulla quis lorem ut libero malesuada feugiat. Mauris <a href="#">Blandit aliqet elit,</a> eget tincidunt migh pulvinar est name albis tichodion esto nih deosios</p>
                </section>
                <section>
                    <ul>
                        <li><a class="icon-fb" href="#"></a></li>
                        <li><a class="icon-tw" href="#"></a></li>
                        <li><a class="icon-dr" href="#"></a></li>
                        <li><a class="icon-gp" href="#"></a></li>
                        <li><a class="icon-yt" href="#"></a></li>
                    </ul>
                    <p>www.Odin.com</p>
                    <p>contact@odin.com</p>
                </section>
            </article>
            <footer>
                <span>&copy; 2015 - Odin All Right Reserved</span>
                <a href="#">Unsubcrible</a>
            </footer>
    </div>
</body>
</html>