<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Максим Гутин">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRCompany | Главная</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="page">
        <nav>
            <a href="#" class="logo"></a>
            <ul class="nav top-nav">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">О Нас</a></li>
                <li><a href="#">Блог</a></li>
            </ul>
            <section class="phone">
                <p>+7(123) 456-78-99</p>
                <button class="call-back">Обратный звонок</button>
            </section>
        </nav>
        <header>
            <section>
                <h2>ОЦЕНИТЕ КАЧЕСТВО<span>НАШЕЙ РАБОТЫ</span></h2>
                <p>Заполните простую форму и мы бесплатно проведем для вас первую очную консультацию и продемонстрируем наш практический подход: вы получите первые упоминания о вашей компании в СМИ до подписания договора. </p>
                <button class="order">Оформить заявку</button>
            </section>
        </header>
        <section id="sevices">
            <img src="img/services-bg-1.png" alt="" id="services-bg-1">
            <header>
                <h2>Наши услуги</h2>
                <a href="#">Открыть призентацию<i class="icon-presentation"></i></a>
            </header>
            <article>
                <section>
                    <h3>Мы всегда думаем только о победе</h3>
                    <p class="sub-header">Оцените качество нашей работы</p>
                    <p class="text-services">Агентство PR Company предоставляет услуги классического PR: выстраиваем отношения с журналистами, помогаем публично продвигать интересы наших клиентов, разрабатываем и реализовываем PR-стратегии по всем направлениям: медиасопровождение, соцсети, сайт, событийный маркетинг.
                    <br>
                    <br>
                    Заполните простую форму и мы бесплатно проведем для вас первую очную консультацию и продемонстрируем наш практический подход: вы получите первые упоминания о вашей компании в СМИ до подписания договора.</p>
                    <button class="order">Оформить заявку</button>
                </section>
                <a href="#" id="button-sevices">

                </a>
            </article>
        </section>
        <section id="about">
            <img src="img/arrow-bg-1.png" id="arrow-bg-1">
            <header>
                <h2>Что отличает нас <strong>От остальных</strong></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus metus ligula.</p>
            </header>
            <section>
                <article class="about-item">
                    <div>
                        <h3><strong>Почему</strong> вы должны выбрать нашу компанию</h3>
                        <ul>
                            <li>Стремимся обеспечить лучшую поддержку проектов</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
                        </ul>
                    </div>
                    <div>
                        <button>Выбрав нас</button>
                        <button>Возможности</button>
                    </div>
                </article>
                <article class="about-aman">
                    <img src="img/DSC_3768_Leo-212.png" alt="Леонид Хомерики">
                    <h4>Леонид Хомерики</h4>
                    <p>Управляющий партнер агентства. Более 10 лет трудился в сфере общественных связей и журналистики. Начал карьеру в 2004 году как редактор лент финансов, экономики и военно-технического сотрудничества в информационном агентстве ТС ВПК...</p>
                    <button class="continue">Продолжить &rarr;</button>
                </article>
                <article class="about-aman">
                    <img src="img/%D0%91%D0%B5%D0%BB%D0%BE%D0%B22.png" alt="Сергей Белов">
                    <h4>Сергей Белов</h4>
                    <p>Партнер и консультант агентства. Пришел в коммуникации из отраслевого консалтинга. В крупнейшем международном коммуникационном агентстве Grayling менее чем за год прошел путь от младшего специалиста до менеджера проектов... </p>
                    <button class="continue">Продолжить &rarr;</button>
                </article>
                <article class="about-aman">
                    <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-22.png" alt="Анвар Хайретдинов">
                    <h4>Анвар Хайретдинов </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus ante vel aliquam mattis este ant. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus ante vel aliquam mattis este ant. Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    <button class="continue">Продолжить &rarr;</button>
                </article>
            </section>
        </section>
        <article id="cusromers">
            <img src="img/arrow-bg-2.png" id="arrow-bg-2">
            <img src="img/arrow-bg-1.png" id="arrow-bg-3">
            <header>
                <h2>Клиенты которые <strong>Выбрали и вибирают нас</strong></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            </header>
            <section>
                <span><img src="img/fsk.png" alt=""></span>
                <span><img src="img/ksk.png" alt=""></span>
                <span><img src="img/plk.png" alt=""></span>
                <span><img src="img/fsk.png" alt=""></span>
            </section>
        </article>
        <section id="feed">
            <header>
                <button class="feedback">Подписаться</button>
                <h2>Новости <strong>и Блог</strong></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </header>
            <section>
                <aside>
                    <div class="checker">
                        <a href='#' class="popular-checker">ПОПУЛЯРНОЕ</a>
                        <a href='#' class="best-checker">ЛУЧШЕЕ В БЛОГЕ</a>
                    </div>
                    <section class="popular-news">
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-32.png" alt="">
                            <h3>Николай Антропов</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-28-%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png" alt="">
                            <h3>Катерина Волкова</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-30.png" alt="">
                            <h3>Григорий Иванов</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-34.png" alt="">
                            <h3>Валерия Николаева</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-36.png" alt="">
                            <h3>Брюс Федотов</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                    </section>
                    <section class="best-blog-news">
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-32.png" alt="">
                            <h3>Николай Антропов</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-28-%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png" alt="">
                            <h3>Катерина Волкова</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-30.png" alt="">
                            <h3>Григорий Иванов</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-34.png" alt="">
                            <h3>Валерия Николаева</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                        <article>
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-36.png" alt="">
                            <h3>Брюс Федотов</h3>
                            <p>«Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore»</p>
                        </article>
                    </section>
                </aside>
                <section>
                    <article class="big-new">
                        <img src="img/DSC05123.png" alt="">
                        <a href="#" class="teg">НОВОСТИ</a>
                        <section>
                            <h3>Мы обеспечили информационное сопровождение участия ООО «Первая Локомотивная Компания» в салоне «ЭКСПО 1520»</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <button class="readmore">Подробнее...</button>
                            <ul class="new-social-button">
                                <li><a class="icon-fb" href="#"></a></li>
                                <li><a class="icon-tw" href="#"></a></li>
                                <li><a class="icon-gp" href="#"></a></li>
                            </ul>
                        </section>
                    </article>
                    <div>
                        <article class="small-new small-new-one">
                            <img src="img/DSC_6190_Bussines-game_A-capital_Simon.png" alt="">
                            <a href="#" class="teg">БЛОГ</a>
                            <section>
                                <h3>Что мы делаем и зачем это вам</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </section>
                        </article>
                        <article class="small-new small-new-two">
                            <img src="img/%D0%A1%D0%BB%D0%BE%D0%B9-37.png" alt="">
                            <a href="#" class="teg">БЛОГ</a>
                            <section>
                                <h3>PR для бизнеса</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </section>
                        </article>
                    </div>
                </section>
            </section>
        </section>
        <footer>
            <nav>
                <a href="#" class="logo"></a>
                <ul class="nav top-nav">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О Нас</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
                <hr>
                <section class="phone">
                    <p>+7(495) 409-70-99</p>
                    <button class="call-back">Обратный звонок</button>
                </section>
            </nav>
            <ul class="new-social-button footer-social-button">
                <li><a class="icon-fb" href="#"></a></li>
                <li><a class="icon-tw" href="#"></a></li>
                <li><a class="icon-gp" href="#"></a></li>
            </ul>
            <span>PR Company 2015</span>
        </footer>
    </section>
</body>
</html>